
<div class="row biggerPaddingTop">
    <div class="span3">
        <img src="/content/img/luigi.jpg" alt="Luigi Metalurgi" class="img-polaroid faces-center">
        <h2>LUIGI JE KUS VOLA</h2>
        <p>
            Musíte vidět! Luigi Metalurgi, ten <strong>KUS VOLA</strong>, si zřídil svojí fotogalerii. Jeho patetické pokusy o průnik do světa umělecké fotografie hledejte zde.
        </p>
        <p><a class="btn" href="/luigi/gallery">Jojo, přesně tady &raquo;</a></p>
    </div>

    <div class="span3">
        <img src="/Content/img/daf.jpg" alt="Daf" class="img-polaroid faces-center">
        <h2>DAF JE KUS VOLA</h2>
        <p>
            No a tenhle aby se hned nepřidal. Sice projel všechny světadíly, odškrtal si všechny země Evropy, profičel 38 budhistických chrámů za jeden den a k čemu mu to bylo? Stejně je to <strong>KUS VOLA</strong>!
        </p>
        <p><a class="btn" href="/daf/gallery">Z domu rychle pryč tudy &raquo;</a></p>
    </div>
   
    <div class="span3">
        <img src="/Content/img/andrej.jpg" alt="Andrey" class="img-polaroid faces-center">
        <h2>ANDREY JE KUS VOLA</h2>
        <p>
            Doprava, doprava, na druhou, na druhou! Tenhle <strong>KUS VOLA</strong> si plete strany a do ciziny zásadně jezdí se slovníkem z roku 1920. <strong>KUS VOLA</strong> Andrey tu samozřejmě nemůže chybět.
        </p>
        <p><a class="btn" href="/andrey/gallery">Kardinál S(i/y)n vstoupí tudy &raquo;</a></p>
    </div>

    <div class="span3">
        <img src="/Content/img/tuny.jpg" alt="Tuny" class="img-polaroid faces-center">
        <h2>TUNY JE KUS VOLA</h2>
        <p>
            Tlusťoch, velryba, trapnej, ale taky metoda debilů. Ale když nejede, hned je všude ponorka. <strong>KUS VOLA</strong> Tonda je tu taky.
        </p>
        <p><a class="btn" href="/tonda/gallery">Jen si chvíli zdřímnu tady &raquo;</a></p>
    </div>

    
</div>



